<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        label, button {
            margin: 2px;
        };
    </style>
</head>
<body>
    <div id="app">
        <h3>Even & Odd Learning</h3>
        <div>
            <label>{{ oddCount }}</label>
            <br> <br>
            <button v-on:click="oddNumberInc(2)">Next Odd</button>
            <button v-on:click="oddNumberDec(2)" v-if="oddCount > 1 ? true : false">Prev Odd</button>
        </div>
        
        <div>
            <br>
            <label>{{ evenCount }}</label>
            <br> <br>
            <button v-on:click="evenNumberInc(2)">Next Even</button>
            <button v-on:click="evenNumberDec(2)" v-if="evenCount > 0 ? true : false">Prev Even</button>
        </div>
    </div>

    <script>
        Vue.createApp({
            data() {
                return {
                    evenCount: 0,
                    oddCount: 1,
                }
            },
            methods:{
                
                oddNumberInc(amount){
                     this.oddCount = this.oddCount + amount;
                },

                oddNumberDec(amount){
                     this.oddCount = this.oddCount - amount;
                },

                evenNumberInc(amount){
                   this.evenCount = this.evenCount + amount;
                },

                evenNumberDec(amount){
                   this.evenCount = this.evenCount - amount;
                }
            }
        }).mount("#app")
    </script>
</body>
</html>